body{
    background-color: Lightblue;
}

h1{
    color:navy;
    font-size: 50px;
    text-align: center;
}
p{
    font-size:22px;
}

button{
    padding: 10px 20px;
}
button:hover{
    background-color:green;
    color:white;
}