<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Document</title>
</head>
<body>
    <h1 style = "color:green;">smart agri</h1>
    <body style = "background-color: lightblue;">
    <p style = "font-size:30px;">html</p>
    <h1 style="border:2px solid black;">
    My Portfolio
    </h1> 
    <h1 style = "border:2px solid black; padding:0px;"> my portfolio</h1>
    <h1 style="border:2px solid black;
    margin:90px;">
    My Portfolio
</h1>
<div>
    <h1>Isra</h1>
    <p>Future Data Scientist</p>
</div>
<div style="border:2px solid black; margin:20px;">
    <h1>Isra</h1>
</div>
<div style="
border:2px solid black;
padding:20px;
margin:30px;
">

<h1>Isra M Tinmekar</h1>
<p>Future Data Scientist</p>

</div>
</body>
</html>