<!DOCTYPE html>
<html lang="en">
<head>
 
  <title>SmartAgridoc</title>
</head>
<body>
  <body style="background-color: rgb(190, 240, 190);"></body>
  <h1 style="color:green;"> 
    SmartAgridoc Plant Disease Detection</h1>
  <h2 style="color:red;"> 
    Welocome to plant diesease detection</h2>

  <p>this app detect the disease in palnts/leaves</p>

  <p>upload a file here</p> 

  <input type = "file"> 
  <br><br>

  <button>predict</button> 

  <h3 style ="color :blue;">Prediction Result</h3>

  
</body>
</html>