<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>My Portfolio</title>
</head>
<body>
    <h1> Isra M Tinmekar</h1> 
    <h2 style= "font-size : 20px; color:blue;"> Future Data Scientist</h2>
    <br><br>

    <button>Contact Me</button> 
    <br><br> 

    <form> 
         <label>Enter Your Name:</label>

        <input type="text">

        <br><br>
        <label>Enter Your Email:</label>
        <input type = "email"> 
        <br><br>

        <label>Enter Your Password:</label>
        <input type = "password">
        <br><br> 
        <label>Upload Your Resume:</label>
        <input type = "file"> 
        <br><br>


        <button>Submit</button>

    </form>

    
</body>
</html>