<!DOCTYPE html>
<html lang="en">
<head>

    <title>Portfolio Page</title>
</head>
<body>
    <body style = "background-color:rgb(252, 243, 231)"></body>
    <img src = "isra.jpeg" width = "200px" height = "200px" style = "border-radius:50%" img-align ="left">
    <h1 style = "color:rgb(57, 57, 91); font-size:25px ; font-family:Arial;">Isra M Tinmekar</h1>
    <p style = "font-size:18px; font-family:Arial;">Future Data Scientist</p>

    <div style ="
    font-style:Times New Roman;
    font-size:16 px;
    text-align:left;
    border:2px solid black;
    padding:20px;
    margin:30px;
    color:rgb(37, 35, 35);">
    Eduacation :B.E Artificial Intelligence and Data Science<br>
    Skills : Python, SQL, Machine learning, Deep learning, Data Visualization <br> 

</div>

<label>Enter your resume file here </label>
<input type = "file"> 
<br><br>

<button>Contact Me</button>
    
</body>
</html>