<!DOCTYPE html>
<html lang="en">
<head>

    <title>Student Page</title>
</head>
<body style = "background-color :rgb(207, 248, 248)">
    <h1 style ="color:rgb(57, 57, 91);">Student Performance Predictor</h1>
    <div style ="
    font-family : Arial;
    font-size : 19px;
    text-align :left;
    border : 3px solid black;
    margin : 30px;
    padding : 20px;">

   
    <label>Enter Student Name:</label>
    <input type = "text"> 
    <br><br> 

    <label>Enter Student USN:</label>
    <input type = "text"> 
    <br><br> 

    <label>Enter Student department:</label>
    <input type = "text"> 
    <br><br> 

    <label>Enter Student email:</label>
    <input type = "email"> 
    <br><br> 

    <label>Enter Student marks:</label>
    <input type = "number"> 
    <br><br> 

    <label>Enter date of birth:</label>
    <input type = "number"> 
    <br><br> 
    

</div> 
<button style ="text-align:center;">
    Predict Score
</button>

<h2>Prediction Result</h2>

<label>upload report card:</label>
<input type = "file">
    
</body>
</html>