<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App UI</title>
    <link rel="stylesheet" href="../static/Weatherapp.css">
</head>

<body>
    <h1>Weather App UI 🌦️</h1>

    <p>
        Enter your location to get the current weather information 🌦️ ☀️ 🌧️ ⛈️ ☁️ ❄️ 😊 🚀
    </p>

    <label for="location">Enter your location:</label>
    <input type="text" id="location" name="location">

    <br><br>

    <button type="button">Get Weather</button>

    <h2>Current Weather:</h2>
</body>
</html>